:root {
  --bg: #f5f5f5;
  --container: white;
  --link: #000;
  --black-alpha: rgba(0, 0, 0, 0.6);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  display: -moz-grid;
  background-color: var(--container);
  max-width: 1136px;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: 2fr 3fr;
}

.img {
  background-color: red;
  height: 100vh;
  padding-right: 3.75em;
}

.image {
  /* width: auto; */
  /* width: auto; */
}

.content {
  padding-left: 3em;
  background-color: var(--container);
  display: flex;
  flex-direction: column;
}
