main {
  height: calc(100% - 9em);
}

main h1 {
  font-size: 2em;
  font-weight: 500;
  max-width: 10em;
}

main p {
  max-width: 22em;
  text-align: justify;
  color: var(--black-alpha);
}
main nav {
  margin-top: 3.5em;
}
main nav a {
  text-decoration: none;
}
main nav a + a {
  text-decoration: none;
  margin-left: 2.5em;
}

.btn-download {
  color: var(--bg);
  background-color: var(--link);
  padding: 0.8em 3em;
  border: 2px solid var(--link);
  border-radius: 0.5em;
  transition: 0.2s;
}

.btn-download:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-signin {
  color: var(--link);
  border: 2px solid var(--link);
  padding: 0.8em 3em;
  border-radius: 0.5em;
  transition: 0.2s;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-signin:hover {
  background-color: var(--link);
  color: var(--bg);
}
