* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font: 400 1.6rem "Poppins";
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

p {
  color: #333;
  line-height: 150%;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: min(100%, 500px);
  margin: 4rem auto;
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
}

ul li {
  text-align: center;
  margin-bottom: 1rem;
}

ul li a {
  color: #7c354f;
}
