* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

:root {
  --font-title: "Source Code Pro", monospace;
  --font-default: "Poppins", sans-serif;

  --header-height: 6.3rem;

  --color-primary: #4f3acf;

  --border: 0.05rem solid rgba(162, 162, 162, 0.658);
}

body {
  font: 400 1.6rem var(--font-default);
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 868px) {
  body {
    font: 400 1.8rem var(--font-default);
  }
}

p {
  color: #333;
  line-height: 150%;
  word-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding-block: 5rem;
}

.container {
  width: min(100%, 1400px);
  margin-inline: auto;
  padding-inline: 5%;
}

.alt-color {
  color: var(--color-primary);
}

#header {
  width: 100%;
  height: var(--header-height);
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #f1f1f1;
}

#header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .logo {
  font: 700 2.3rem var(--font-title);
}

#header .logo span:first-child {
  margin-right: 0.3rem;
}

#header .logo span:last-child {
  margin-left: 1.5rem;
}

#header .menu {
  position: absolute;
  top: var(--header-height);
  left: 0;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  border-bottom: 0.05rem solid var(--border);
  padding-block: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

#header .menu.show {
  opacity: 1;
  visibility: visible;
}

#header .menu li a {
  color: #333;
  font-size: 1.7rem;
}

#header .menu li a::after {
  content: " ";
  display: block;
  width: 0;
  height: 0.2rem;
  background-color: var(--color-primary);
  transition: 0.2s;
}

#header .menu li a:hover::after {
  width: 100%;
}

#header #navigation .burguer {
  width: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#header #navigation .burguer span {
  display: inline-block;
  width: 100%;
  height: 0.3rem;
  background-color: #333;
  border-radius: 0.5rem;
  transition: 0.2s;
}

#header #navigation .burguer.show span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
#header #navigation .burguer.show span:nth-child(1) {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}
#header #navigation .burguer.show span:nth-child(3) {
  transform: rotate(-45deg) translate(0.6rem, -0.65rem);
}

#main {
  width: 100%;
  margin-top: var(--header-height);
}

#main .section-1 {
  height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border);
}

#main .section-1 .container {
  display: flex;
  flex-direction: column;
}

#main .section-1 .info {
  display: grid;
  gap: 3.4rem;
  place-items: center;
  flex: 1;
}

#main .section-1 .info p {
  text-align: center;
}

#main .section-1 .image {
  flex: 1;
  position: relative;
  z-index: 2;
}

#main .section-1 .image img {
  width: 35rem;
  display: none;
  margin-inline: auto;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 5px 3px #00000050;
}

#main .section-1 .image::before {
  content: "";
  display: none;
  width: 35rem;
  height: 35rem;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 12rem;
  transform: rotate(5deg);
  z-index: 1;
  box-shadow: 0px 0px 5px 3px #00000050;
}

#main .section-2 {
  border-bottom: var(--border);
}

#main .section-2 .techs {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

#main .section-2 .tech header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main .section-2 .tech header .icon {
  width: 7.2rem;
  transform: translate(5rem, -4rem);
}

#main .section-2 .tech {
  width: 24.8rem;
  height: min(100%, 24rem);
  padding: 1rem 1.5rem;
  box-shadow: 0px 2px 5px 3px #0000002b;
  border-radius: 1rem;
  transition: transform 0.2s;
}

#main .section-2 .tech:hover {
  transform: scale(1.05);
}

#main .section-3 {
  border-bottom: var(--border);
}

#main .btn {
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 4.7rem;
  font-size: 1.6rem;
  background-color: var(--color-primary);
  color: #f1f1f1;
  cursor: pointer;
  width: max-content;
  transition: filter 0.3s;
}

#main .btn:hover {
  filter: brightness(0.85);
}

#main .section-3 .container {
  display: grid;
  gap: 4rem;
}

#main .section-3 .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#main .section-3 .links a {
  border: var(--border);
  display: inline-flex;
  width: 27.2rem;
  padding: 1.5rem 1.805rem;
  align-items: center;
  position: relative;
  color: #f1f1f1;
  transition: 0.3s;
}

#main .section-3 .links a:hover {
  filter: brightness(0.85);
}

#main .section-3 .links a.wpp {
  background-color: #25d366;
}

#main .section-3 .links a.linkedIn {
  background-color: #0e76a8;
}

#main .section-3 .links a.github {
  background-color: #171515;
}

#main .section-3 .links a span {
  position: relative;
  left: 50%;
  transform: translateX(-65%);
}

#main .section-3 .links a img {
  width: 2.8rem;
}

#footer {
  padding-block: 1.5rem;
}

#footer p {
  text-align: center;
  color: #5f5f5f;
}

@media (min-width: 521px) {
  #header .menu {
    flex-direction: row;
    gap: 1.6rem;
    border-bottom: none;
    padding: 0;
    position: static;
  }

  #header .menu {
    opacity: 1;
    visibility: visible;
  }
  #header #navigation .burguer {
    display: none;
  }
}

@media (min-width: 668px) {
  #main .section-2 .techs {
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media (min-width: 800px) {
  #main .section-1 .container {
    flex-direction: row;
  }
  #main .section-1 .info {
    place-items: initial;
    gap: 6.4rem;
  }
  #main .section-1 .info p {
    text-align: left;
  }
  #main .section-1 .image::before {
    display: block;
  }
  #main .section-1 .image img {
    display: block;
  }
  #main .section-3 .links {
    flex-direction: row;
  }
}
