@import "../Colors/colors.scss";

* {
  font-family: "Roboto", sans-serif;
}

body {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  background: url("../images/background.png") repeat-x;
  height: 100vh;
}

.text-area {
  height: 100vh;
}
