@import '../../assets/styles/Colors/colors.scss';

footer {
    background-color: $green-700;
    height: 8.875rem;
}

.footer__container {
    display: flex;
    align-items: center;
    color: $white;
    justify-content: space-between;
    height: 100%;
}

.footer__container div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.ig {
    background: url('../images/ig.svg') center no-repeat;
    height: 18.75px;
    width: 18.75px;
}

.yt {
    background: url('../images/yt.svg') center no-repeat;
    height: 18px;
    width: 22px;
}

.fb {
    background: url('../images/fb.svg') center no-repeat;
    height: 24px;
    width: 24px;
}