.checked-counter {
  margin-left: 0.5rem;
  border-radius: 1rem;
  font-weight: 400;
  color: white;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  background-color: var(--gray-700);
  border-radius: 50px;
  font-size: 0.75rem;
}

h3 {
  display: inline;
}

div .counter {
  margin-top: 2.2rem;
  margin-bottom: 1rem;
}
