.form {
  margin-top: 2rem;
  display: grid;
  row-gap: 1rem;
  grid-template: 3.2rem 3.2rem / 1fr 4rem;
}

.grid-span {
  grid-column: 1 / span 2;
}

.form input[type="text"]:focus {
  outline: none;
}

.form input:nth-child(-n + 2) {
  border: 1px solid var(--blue-border);
  border-radius: 8px;
  font-family: "Inter";
  font-size: 1rem;
  color: var(--gray-text);
  text-indent: 1rem;
}

.form input[type="button"]:hover {
  border: 1px solid var(--sec-green);
  background-color: var(--sec-green);
}

.form input:not([type="button"]):focus {
  outline: var(--main-green) solid 1px;
}

.form input[type="button"] {
  margin-left: 0.8rem;
  background: var(--main-green) url("../assets/plus.svg") no-repeat 50%;
  border: 1px solid var(--main-green);
  border-radius: 8px;
  cursor: pointer;
}
