:root {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--gray-200);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
=======
}

@media screen and (max-width: 1080px) {
  body {
    font-size: 93.75%;
  }
>>>>>>> 401ba013b4d210fa1f4ef0c002fbd913814c4bc0
}
