.g {
  width: 20em;
  height: 14em;
  background: #00a859;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
}

.yt {
  width: 1px;
  height: 1px;
  border: solid 8.3em transparent;
  border-bottom: solid 6em #ffcc29;
  border-top-width: 0;
  position: absolute;
  top: 0.9em;
  left: 1.7em;
}

.yb {
  width: 1px;
  height: 1px;
  border: solid 8.3em transparent;
  border-top: solid 6em #ffcc29;
  position: absolute;
  left: 1.7em;
  top: 6.9em;
}

.b {
  width: 7em;
  height: 7em;
  background: #3e4095;
  border-radius: 50%;
  position: absolute;
  top: 3.5em;
  left: 6.5em;
  overflow: hidden;
}

.w {
  width: 17em;
  height: 17em;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2em;
  left: -7em;
}

.b1 {
  width: 16em;
  height: 16em;
  background: #3e4095;
  border-radius: 50%;
  position: absolute;
  top: 2.5em;
  left: -6.5em;
}
